.none{
    display: none;
}
.alignment{
    align-items: center;
    justify-content: center;
}
.h-full{
    height: 100%;
}
.btn{
    height: 50px;
    width: 100px;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    justify-content: center;/* By default, aligns in columns for mobile */
  /* Set the minimum height to cover the full screen */
  }

  @media (min-width: 768px) {
    .flex-container {
      flex-direction: row; 
      width: 100%;/* For desktop, aligns in a row */
    }
  }

  .bank {
    flex: 1; /* Expand to fill available vertical space */
  }

  .flex-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items horizontally to the start */
  }